.row#carbon-races
  .large-12.columns
    %h2 Play the Carbon Race
    %p<
      The Carbon Race is fun competition to see which business, club, neighborhood or other organization offset the most carbon.  You can join an existing team, or create one of your own.
  -if @team
    .large-12.columns#change-team{:style=>'display:none'}
      %h4 Change your team
      =select_tag :team, options_from_collection_for_select(@teams, 'id', 'name', @team.id), id: 'select-new-team', prompt: 'Which team?'
      
      #new-team-msg
    .large-12.columns#change-team{:style=>'display:none'}
      %h4 Change your team
      =select_tag :team, options_from_collection_for_select(@teams, 'id', 'name', @team.id), id: 'select-new-team', prompt: 'Which team?'  
    .large-12.columns
      %h4.team-msg Your offset of #{@offsets.sum(&:pounds)} lbs has been added to the tally for Team '#{@team.name}'
      %p=link_to "Click here to change the team you are playing for", "#", :class => 'change-team'
      %p=link_to "Or, you can start a new team", "#", :class => 'defect-to-new-team'

    .large12.medium-12.columns#create-team{:style=>'display:none'}
      %h4 Create a  Team
      %p Make a team for your friends or organization and invite others to join it
      =form_for :team, :url=>teams_path, :remote=>:true, :html=> {:id=>'new-team'} do |f|
        %label Team Name
        =f.text_field :name, id: 'team-name'
        %label Your Name (for public display)
        =text_field_tag :member_name, '', id: 'public-name'
        =hidden_field_tag :checkout_session_id, @checkout_session
        #form-msg
        %br
        #msg
        =f.submit 'submit', :class=>'button'
    .large-12.columns
  -elsif @individual
    .large-12.columns
      %h4 Your offset of #{@offset_data[:pounds]} lbs has been added to your individual tally
  -else
    #race-actions
      .large-4.columns{:style=>'text-align:center;'}
        %button#join Contribute to Team
        %span Your offset will count towards the team stats
      .large-4.columns{:style=>'text-align:center;'}
        %button#create Create New Team
        %span Found a new team and add your recent offset
      .large-4.columns{:style=>'text-align:center;'}
        %button#individual-player Play as Individual
        %span Compete against others without a team
  -if @team.present?

  -else
    .row
      .large-12.columns#msg
      #team-actions{:style=>'display:none'}
        .large-6.medium-6.columns#create-team
          %h4 Create a  Team
          %p Anyone can make a team for their organization and invite others to join it
          =form_for :team, :url=>teams_path, :remote=>:true, :html=> {:id=>'new-team'} do |f|
            %label Team Name
            =f.text_field :name, id: 'team-name'
            %label Your Name (for public display)
            =text_field_tag :member_name, '', id: 'public-name'
            =hidden_field_tag :checkout_session_id, @checkout_session
            #form-msg
            %br
            =f.submit 'submit', :class=>'button'


        .large-6.medium-6.columns#join-team
          %h4 Join a  Team
          %p Are others in your organization already playing?  Join them!
          =select_tag :team, options_from_collection_for_select(@teams, 'id', 'name'), id: 'select-team', prompt: 'Select a team to join'
          =hidden_field_tag :checkout_session_id, @checkout_session
          #member-name
            %label Your Name (for public display)
            =text_field_tag :name, nil, :id=> 'team-member-name'
            #join-msg
            %button#submit-name Join Team
      #individual-actions{:style=>'display:none'}
        .large-12.columns
          %h4 Play Solo
          %p Rise up the charts each time you offset
          =hidden_field_tag :checkout_session_id, @checkout_session
          %label Your Name (for public display)
          =text_field_tag :name, nil, :id=> 'player-name'
          %button#new-player Register 

:javascript
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const checkout_session_id = urlParams.get('checkout_session_id');
  $('#player-name').val("#{@offsets.first.name}");
  $('#public-name').val("#{@offsets.first.name}");

  $('.change-team').on('click',function() {
    $('#race-actions').hide();
    $('#change-team').show();
  })

  $('.defect-to-new-team').on('click',function() {
    $('#race-actions').hide();
    $('#create-team').show();
  })

  $('#new-team').submit(function(event) {

    if(!$('#team-name').val() || !$('#public-name').val()) {
      $('#form-msg').text('Please provide a team name and your name.');
      return false;
    }

  });

  $('#create').on('click',function() {
    $('#team-actions').show();
    $('#race-actions').hide();
    $('#create-team').insertBefore('#join-team');
  })
  $('#join').on('click',function() {
    $('#race-actions').hide();
    $('#team-actions').show();
    $('#join-team').insertBefore('#create-team');
  })

  $('#individual-player').on("click", function() {
    $('#individual-actions').show();
  });

  $('#select-team').on('change', function() {

    $('#member-name').show();

  });


  $('#submit-name').on('click', function() {
    if(!$('#team-member-name').val()) {
      $('#join-msg').text('Please provide your name.');
    }
    else {
      team_data = {}
      team_data.name = $('#team-member-name').val();
      team_data.checkout_session_id = checkout_session_id;
      $.post('/teams/'+ $('#select-team').val() + '/join', team_data);
    }

  });



  $('#new-player').on('click', function() {
    if(!$('#player-name').val()) {
      $('#player-msg').text('Please provide a name to publicly display.');
    }
    else {
      team_data = {}
      team_data.name = $('#player-name').val();
      $.post('/individuals/', {individual:team_data, checkout_session_id:checkout_session_id});
    }

  });

-if @team.present?
  :javascript

    $('#select-new-team').on('change', function() {

      team_data =  {new_team_id: $(this).val(), old_team_id: '#{@team.id}', checkout_session_id: checkout_session_id};
      $.post('#{change_teams_path}', team_data);

    });
