.row.awardee[awardee]
  .large-4.columns
    -if awardee.avatar_file_name.present?
      =image_tag("#{awardee.avatar.url(:medium)}", :style=>'width:100%;margin-top: 20px')
    -else
      =image_tag("#{awardee.name.gsub(' ', '-')}.jpg", :style=>'width:100%;margin-top: 20px')
    -if awardee.video_id.length > 0
      %div{:style=>'text-align:center;margin-top: -40px;'}
        %button
          .play-video{:"data-video"=>"#{awardee.id}"} watch video
  .large-8.columns
    %h4=awardee.name
    %label Grant Amount:
    %span #{number_to_currency(awardee.award_amount, :precision => 0)}
    %br
    %label C02 Offset:
    %span #{number_with_delimiter(awardee.pounds_offset)} tons
    .bio=awardee.bio.html_safe
