:css
  #member-name {
    display:none;
  }
  .btn {
    background: #cb9900;
    background-image: -webkit-linear-gradient(top, #cb9900, #dca600);
    background-image: -moz-linear-gradient(top, #cb9900, #dca600);
    background-image: -ms-linear-gradient(top, #cb9900, #dca600);
    background-image: -o-linear-gradient(top, #cb9900, #dca600);
    background-image: linear-gradient(to bottom, #cb9900, #dca600);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #aa830b 5px;
    text-decoration: none;
    text-align:center;
  }

  .btn:hover {
    background: #006893;
    text-decoration: none;
  }
=render :partial => 'shared/menu_bar'
%h4 You did it!
%p{:style=>'display:inline-block;'}
  Your contribution to the Climate Fund will help a local family improve their household energy efficiency and thus reduce carbon pollution.  For more info, check out some of
  =link_to "our past climate fund awardees.", pages_path("portfolio")
  As a special thanks for your contribution, you have earned a spin of the prize wheel where you can win gifts from local businesses.
-puts @team

-if @offset_data

  -if @team
    %h4 Your offset of #{@offset_data[:pounds]} lbs has been added to the tally for Team '#{@team.name}'
    :javascript
      $('#prize-wheel').show();
  -elsif @individual
    %h4 Your offset of #{@offset_data[:pounds]} lbs has been added to your individual tally
    :javascript
      $('#prize-wheel').show();
  -else
    :javascript
      $('#prize-wheel').hide();
    .row#next-action
      .large-12.columns
        %h2 Now, it's time to play
        %p<
          Our
          =link_to 'Carbon Races ', pages_path('carbon-races')
          are a fun competition to see which business, club, neighborhood or other organization can offset the most carbon in a month's time.  You can join an existing team, or create one of your own.

      .large-4.columns{:style=>'text-align:center;'}
        %button#join Contribute to Team
        %span Your offset will count towards the team stats
      .large-4.columns{:style=>'text-align:center;'}
        %button#create Create New Team
        %span Found a new team and add your recent offset
      .large-4.columns{:style=>'text-align:center;'}
        %button#individual-player Play as Individual
        %span Compete against others without a team
      .large-12.columns
        %button#spin Skip Carbon Races and Proceed to Prize Wheel

    .row#carbon-race
      .large-12.columns#msg
      #team-actions
        .large-6.medium-6.columns#create-team
          %h4 Create a  Team
          %p Anyone can make a team for their organization and invite others to join it
          =form_for :team, :url=>teams_path, :remote=>:true, :html=> {:id=>'new-team'} do |f|
            %label Team Name
            =f.text_field :name, id: 'team-name'
            %label Your Name (for public display)
            =text_field_tag :member_name, '', id: 'public-name'
            =f.hidden_field :pounds, :value => @offset_data[:pounds], :id=>'pounds'
            =hidden_field_tag :user_email, @offset_data[:email]
            =hidden_field_tag :count, @offset_data[:count]
            -#=f.file_field :image, :class => 'file-upload'
            #form-msg
            %br
            =f.submit 'submit', :class=>'button'


        .large-6.medium-6.columns#join-team
          %h4 Join a  Team
          %p Are others in your organization already playing?  Join them!
          =select_tag :team, options_from_collection_for_select(@teams, 'id', 'name'), id: 'select-team', prompt: 'Select a team to join'

          #member-name
            %label Your Name (for public display)
            =text_field_tag :name, nil, :id=> 'team-member-name'
            #join-msg
            %button#submit-name Join Team

  .row#prize-wheel
    .large-12.columns
      %hr
      %h3 Seal The Cracks Prize Wheel
      %p Spin the wheel after each offset and you could win fun prizes from local businesses!
    .large-6.medium-6.columns
      #spin-button.btn
        Spin
        %br
        Wheel
      #wheel
        .cycle-slideshow{"data-paused" => "true", "data-cycle-speed" => "100"}
          -@prizes.each do |p|
            -@count=0
            -p.count.times do
              =render :partial => 'prizes/spot', :locals => {prize:p}
              -@count = @count + 1
          -@empties.times do
            =image_tag('footprint.jpg', :'data-name'=>'Nothing')
            -@count = @count + 1
          :javascript
            var total_spots = "#{@count}";

    .large-6.medium-6.columns
      #award{:style=>'display:none'}
        you have won an award
      #email-address{:style=>'display:none'}
        To claim your prize, enter your email address
        %input{:type=>'text', :placeholder=>'your email', :id=>'email'}
        How about a first name to share publicly?
        %input{:type=>'text', :placeholder=>'your first name', :id=>'name'}
        #claim-prize.button Claim Your Prize

  -if @team
    :javascript
      $('#prize-wheel').show();
  -elsif @individual
    :javascript
      $('#prize-wheel').show();
  -elsif @donation_mode
    :javascript
      $('#prize-wheel').show();
  -else
    :javascript
      $('#prize-wheel').hide();

  %hr
  .row
    .large-12.columns
      %p<
        You can amplify the impact of your offset by sharing on social networks
        %a.twitter-share-button{"data-count" => "none", "data-hashtags" => "carbonoffsets", "data-text" => "I just offset my carbon use locally with the Finger Lakes Climate Fund", "data-url" => "http://fingerlakesclimatefund.org", "data-via" => "FingerLakesClimateFund", :href => "https://twitter.com/share"} Tweet
        .fb-share-button{"data-href" => "http://fingerlakesclimatefund.org", "data-layout" => "button"}
#register.reveal-modal{"data-reveal" => ""}
  =render :partial => 'devise/registrations/register', :locals=>{data:@offset_data}
:javascript
  var spin;
  count = 0;
  var prize_id;
  var team_data;
  $('#team-member-name').val("#{@offset_data[:name]}");
  $('#public-name').val("#{@offset_data[:name]}");
  $.fn.shuffleChildren = function() {
      $.each(this.get(), function(index, el) {
          var $el = $(el);
          var $find = $el.children();

          $find.sort(function() {
              return 0.5 - Math.random();
          });

          $el.empty();
          $find.appendTo($el);
      });
  };
  $('.cycle-slideshow').shuffleChildren();

  $('#spin-button').on('click',function() {
    spin = setInterval(cycleWheel, 250);
    count = 0;
    $('#spin-button').hide();
    $('#wheel').show();
  });

  $('#new-team').submit(function(event) {


    if(!$('#team-name').val() || !$('#public-name').val()) {
      $('#form-msg').text('Please provide a team name and your name.');
      return false;
    }

  });

  $('#spin').on('click',function() {
    $('#prize-wheel').show();
    $('#next-action').hide();
    $('#carbon-race').hide();
  })
  $('#create').on('click',function() {
    $('#spin').hide();
    $('#next-action').hide();
    $('#carbon-race').show();
  })
  $('#join').on('click',function() {
    $('#spin').hide();
    $('#next-action').hide();
    $('#carbon-race').show();
    $('#join-team').insertBefore('#create-team')
  })

  $('#individual-player').on("click", function() {
    console.log($('#user_email').val());

    $("#register").foundation('reveal','open');
    $('#user-email-address').val($('#user_email').val());
    $('#joining-team').val('true');
  });

   $('#select-team').on('change', function() {

      team_data =  {league_id: $(this).val(), pounds:$('#pounds').val(), user_email: $('#user_email').val()};
      $('#member-name').show();

    });

    $('#submit-name').on('click', function() {
      if(!$('#team-member-name').val()) {
        $('#join-msg').text('Please provide your name.');
      }
      else {
        team_data.name = $('#team-member-name').val();

        $.post('#{join_teams_path}', team_data);
      }

    });

  $('#claim-prize').on('click', function() {
    $.post('#{prize_won_path}', {prize: $('.cycle-slide-active').data('prize-id'), email:$('#email').val(), name:$('#name').val()});
  })
  function cycleWheel() {
    $('.cycle-slideshow').cycle('next');
    count++;

    if(count == 20) {

      clearInterval(spin);
      $('#award').show();
      val = $('.cycle-slideshow').data("cycle.opts").currSlide;
      prize_id = parseInt($('.cycle-slide-active').data('prize-id'));
      if(prize_id > 0) {
        prize_id = $('.cycle-slide-active').data('prize-id');
        $('#award').html('Congrats, you won a ' + $('.cycle-slide-active').data('name') + '!');

        $('#email-address').show();
      }
      else {
        $('#award').html('Sorry, you did not win anything, but you can try again next time you make an offset!');
      }
    }
  }


