.row{:style => "background-color: #fff"}

  .large-6.small-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-7.columns
          %p Comments, questions, problems or ideas?  Send us an email!
        .large-5.columns
          %a.radius.button.right{:href => "/contact-us"} Contact Us
  .large-6.small-12.columns
    .panel
      %h4 Spread the word!
      .row
        .large-12.columns
          %p Help us grow the FLCF by sharing on your social networks
          %a.twitter-share-button{"data-count" => "none", "data-hashtags" => "fingerlakes", "data-text" => "Offset your carbon locally", "data-url" => "http://fingerlakesclimatefund.org", "data-via" => "FingerLakesClimateFund", :href => "https://twitter.com/share"} Tweet
          .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}


%footer.row{:style => "background-color: #fff"}

  .large-12.columns
    .row
      .large-6.columns
        -if user_signed_in?
          %li
            = link_to "Log out", destroy_session_path(:user), :method => :delete

        -else
          %li
            =link_to  new_user_registration_path, :class=>'button header-button' do
              Register
        %p © Sustainable Tompkins
      .large-6.columns
        %p Carbon offsets are deductible through Social Ventures 501(c)3

#calc.reveal-modal{"data-reveal" => ""}
  =render :partial => 'layouts/calculator'
#myModal.reveal-modal{"data-reveal" => ""}
  %h2 OK, ready for checkout.
  %p Just a quick question first:  Would you like to proceed as a guest, or login to your FLCF account.  Using a FLCF account will allow you to save and reuse your offsets.

  %button#stripe.button
    %i.fi-shopping-cart
    pay now
  %button.show-login create account before checkout
  %a.close-reveal-modal ×

#user-offsets.reveal-modal{"data-reveal" => ""}
  %h3 Your account has been created
  %p Ok, let's get back to offsetting you carbon use.
  #offset-checkout
#checkout-form
  = form_tag charges_path, id: 'chargeForm' do
    %script{:src => "https://checkout.stripe.com/checkout.js"}
    = hidden_field_tag 'stripeToken'
    = hidden_field_tag 'stripeEmail'
    = hidden_field_tag 'stripeCharge'
    = hidden_field_tag 'stripeSession'

-if @recently_paid
  #recently-paid
    %h2 you just paid
  :javascript
    alert("hey");

-if current_user

  :javascript
    $('#stripe')[0].addEventListener('click', function(e) {
      total_cost=0;
      cost=0;
      $('#cart .cost').each(function() {
        total_cost += parseFloat($(this).text());
      });
      cost = parseInt(total_cost*100);
      handler.open({
        name: 'Finger Lakes Climate Fund',
        email: '#{j current_user.email}',
        description: 'Carbon Offset ($'+total_cost+')',
        amount: cost,
        shippingAddress: false
      });
      e.preventDefault();
    });
  -if current_user.session_id

    :javascript
      $(document).on("ready", function() {
        $('#user-offsets').foundation('reveal', 'open');
        var button = $('#stripe');
        $('#user-offsets').append(button);
      });

-else
  #login-status{:value=>"guest"}
  :javascript
    $('#stripe')[0].addEventListener('click', function(e) {
      total_cost=0;
      cost=0;
      $('#cart .cost').each(function() {
        total_cost += parseFloat($(this).text());
      });
      cost = parseInt(total_cost*100);
      handler.open({
        name: 'Finger Lakes Climate Fund',
        description: 'Carbon Offset ($'+total_cost+')',
        amount: cost,
        shippingAddress: false
      });
      e.preventDefault();
    });

:javascript
  $('#try-calc').on('click',function() {
    $('#calc').foundation("reveal","open");
  });
  $('.show-login').on("click", function() {
    $("#myModal").html("#{j render :partial => 'devise/sessions/login'}")
  });
  var total_cost = 0;
  var cost = 0;
  var key = '#{j Rails.configuration.stripe[:publishable_key]}';
  var handler = StripeCheckout.configure({
    key: key,
    token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("stripeCharge").value = cost;
          document.getElementById("stripeSession").value = $.cookie('session_id');
          document.getElementById("chargeForm").submit();
        }
    });

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');




