

%footer.row{:style => "background-color: #006893; padding:5px; color: #fff;text-align:center;"}

  .large-12.columns
    .row
      .large-12.columns
        The Finger Lakes Climate Fund is a program of
        %br
        =image_tag('st-logo.png', :size=>'200', :style=>'margin: 7px;')
        %br
        Carbon offsets are deductible through Sustainable Tompkins 501(c)3

#calc.reveal-modal{"data-reveal" => ""}
  =render :partial => 'layouts/calculator'
#myModal.reveal-modal{"data-reveal" => ""}
  %h2 OK, ready for checkout.
  %p Just a quick question first:  Would you like to proceed as a guest, or login to your FLCF account.  Using a FLCF account will allow you to save and reuse your offsets.
  %button#guest-checkout.button
    %i.fi-shopping-cart
    guest checkout
  #user-info{:style => "display:none;"}
    %p Please provide your name and zipcode for our records
    %input{:type=> "text", :id=>"name",:placeholder => "your name"}
    %input{:type=> "text", :id=>"zipcode",:placeholder => "zipcode"}
    %button#stripe.button
      %i.fi-shopping-cart
      pay now
  %button.show-login create account before checkout
  %a.close-reveal-modal ×

#user-offsets.reveal-modal{"data-reveal" => ""}
  %h3 Your account has been created
  %p Ok, let's get back to offsetting you carbon use.
  #offset-checkout
#checkout-form
  = form_tag charges_path, id: 'chargeForm' do
    %script{:src => "https://checkout.stripe.com/checkout.js"}
    = hidden_field_tag 'stripeToken'
    = hidden_field_tag 'stripeEmail'
    = hidden_field_tag 'stripeCharge'
    = hidden_field_tag 'stripeSession'

-if @recently_paid
  #recently-paid
    %h2 you just paid
  :javascript
    alert("hey");

-if current_user

  :javascript
    $('#stripe')[0].addEventListener('click', function(e) {
      total_cost=0;
      cost=0;
      $('#cart .cost').each(function() {
        total_cost += parseFloat($(this).text());
      });
      cost = parseInt(total_cost*100);
      handler.open({
        name: 'Finger Lakes Climate Fund',
        email: '#{j current_user.email}',
        description: 'Carbon Offset ($'+total_cost+')',
        amount: cost,
        shippingAddress: false
      });
      e.preventDefault();
    });
  -if current_user.session_id

    :javascript
      $(document).on("ready", function() {
        $('#user-offsets').foundation('reveal', 'open');
        var button = $('#stripe');
        $('#user-offsets').append(button);
      });

-else
  #login-status{:value=>"guest"}
  :javascript
    $('#stripe')[0].addEventListener('click', function(e) {
      console.log($('#name').val());
      console.log($('#zipcode').val());
      var data = {
        name: $('#name').val(),
        zipcode: $('#zipcode').val(),
        session_id: $.cookie('session_id')
      }
      $.post("#{add_user_data_path}", data, function() {

      });

      e.preventDefault();
    });

:javascript
  var calcDiv;


  $('#try-calc').on('click',function() {
    $('#calc').foundation("reveal","open");
  });
  $('.calc-button').on("click", function() {
    console.log(calcDiv);
    $('#calc-div').empty();
    calcDiv = document.createElement('div');
    $('#calc-div').append("#{j render :partial => 'layouts/calculator'}");
    $(this).append(calcDiv);

  });
  $('.show-login').on("click", function() {
    $("#myModal").html("#{j render :partial => 'devise/sessions/login'}")
  });
  var total_cost = 0;
  var cost = 0;
  var key = '#{j Rails.configuration.stripe[:publishable_key]}';
  var handler = StripeCheckout.configure({
    key: key,
    token: function(token, args) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("stripeCharge").value = cost;
          document.getElementById("stripeSession").value = $.cookie('session_id');
          document.getElementById("chargeForm").submit();
        }
    });
  function checkoutUser() {
    total_cost=0;
    cost=0;
    $('#cart .cost').each(function() {
      total_cost += parseFloat($(this).text());
    });
    cost = parseInt(total_cost*100);
    handler.open({
      name: 'Finger Lakes Climate Fund',
      description: 'Carbon Offset ($'+total_cost+')',
      amount: cost,
      shippingAddress: false
    });
  };
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');




