!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag

  %body
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        =render :partial => 'layouts/head'
        %p.notice= notice
        %p.alert= alert
        %section.main-section
          = yield
        =render :partial => 'layouts/footer'
