!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title Finger Lake Climate Fund

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=places,geometry"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag


  %body
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        =render :partial => 'layouts/head'
        %p.notice= notice
        %p.alert= alert
        %section.main-section
          .row
            .large-4.small-12.medium-5.columns
              %div{:style => "background-color: #c0e3f6;margin-bottom: 15px;"}
                =render :partial => 'layouts/calculator'
              #video
                =link_to "http://vimeo.com/100650108", :class=> 'fancybox-media' do
                  =image_tag('video-placeholder.png')
              #recent-offsets
                %h4 Recent Offsets
                %p recently completed offsets shown here

            .large-8.small-12.medium-7.columns
              #content
                = yield :main_section
        =render :partial => 'layouts/footer'

:javascript
  $(document).on("ready", function() {

    $('.about-page').on("click", function() {
      $("#content").html("#{escape_javascript render :partial => 'pages/about'}");
    });
  });
