!!! 5
%html{ :lang => "en"}
  %head{:prefix => "og: http://ogp.me/ns#"}
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title Finger Lake Climate Fund

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=places,geometry"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    =yield :head
    -if current_user

      :javascript
        if($.cookie("joined")=="true") {
          window.location.replace("#{pages_path('prize-wheel')}");
        }

  %body
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        #content
          =render :partial => 'layouts/head'

          =yield

          =render :partial => 'layouts/footer'
