!!! 5
%html{ :lang => "en"}
  %head{:prefix => "og: http://ogp.me/ns#"}
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = display_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    =yield :head

  %body{:style=>"background:#fff;"}
    =yield
