!!! 5
%html{ :lang => "en"}
  %head{:prefix => "og: http://ogp.me/ns#"}
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = display_meta_tags

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA_C7hQIHn3LK83BsLKrcMLN069o3u7j0M&v=3.34&libraries=places,geometry"
    = javascript_include_tag "https://cloud.tinymce.com/stable/tinymce.min.js"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    =yield :head

  %body
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        =render :partial => 'layouts/bannerless_head'


        %section.main-section
          .row{:style => "background-color: #fff;padding:0px;"}


            .large-12.columns{:style=>"padding-top: 8px;"}
              #content
                =yield
        =render :partial => 'layouts/footer'
